*

!.gitignore
!kdeglobals
!kwinrc
!plasmarc
!gtkrc
!gtkrc-2.0
!kglobalshortcutsrc

!gtk-3.0/
!gtk-4.0/

!gtk-3.0/**
!gtk-4.0/**

!xsettingsd/
!xsettingsd/**

!klassy/
!klassy/**

!fish/
!fish/**

!btop/
!btop/**
btop/*.log

!nvim/
!nvim/**

!konsole/
!konsole/**
